.heading
{
font-size: 30px;
width: 115%;
margin: 6spx;
}

#status
{
font-size: 20px;
}
body
{
    background-size:cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px rgb(255, 0, 0);
    border-radius: 15px;
}